<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link href="./vis-timeline/styles/vis-timeline-graph2d.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/font/bootstrap-icons.css">
        <script src="./vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>
    </head>
   
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
            <a class="navbar-brand" href="#">Timeline Application</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse container" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out</a>
                </li>
              </ul>
              <ul class="nabar-nav">
                <li class="nav-item mt-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Notifications: 0
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-right">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else</a></li>
                        </ul>
                      </div>
                </li>
              </ul>
            </div>
        </nav>

        <div class="container mt-4">
            <h1>Timeline Application</h1>
            <h4>Artyom Kuznetsov</h4>
        </div>

        <div id="visualization" class="container mt-4"></div>
        <script type="text/javascript">
            function parseTrigger(ruleTrigger) {
              // Simple parsing for POC
              // In real code it would better to have special parsing algorithm on backend side
              const startTime = ruleTrigger.split("time is ")[1] + ':00';
              const endTime = '17:00:00';
              return [startTime, endTime];
            }

            // DOM element where the Timeline will be attached
            var container = document.getElementById('visualization');

            var currentUserRulesRaw = '<%- JSON.stringify(currentUserRules) %>';
            var currentUserRulesJson = JSON.parse(currentUserRulesRaw);

            var devices = [];
            for (const [key, value] of Object.entries(currentUserRulesJson)) {
              if(!devices.includes(value.device)) {
                devices.push(value.device);
              }
            }
            var groups = new vis.DataSet();
            devices.forEach((device) => groups.add({id: device, content: device}));

            var _items = [];
            for (const [key, value] of Object.entries(currentUserRulesJson)) {
              let itemContent = '';
              if (value.hasConflict) {
                itemContent = document.createElement('div');
                itemContent.innerHTML = `${value.action} <i class="bi bi-exclamation-circle-fill"></i>`;
              } else {
                itemContent = value.action;
              }
              _items.push({ id: value.id, content: itemContent, start: `2014-04-20T${parseTrigger(value.trigger)[0]}`, end: `2014-04-20T${parseTrigger(value.trigger)[1]}`, group: value.device});
            }
            var items = new vis.DataSet(_items);


            // var item2 = document.createElement('div');
            // // item2.style.backgroundColor = "green";
            // item2.innerHTML = 'show cryptocurrency chart <i class="bi bi-exclamation-circle-fill"></i>'

            // // Create a DataSet (allows two way data-binding)
            // var items = new vis.DataSet([
            //     //{ id: 1, content: 'item 1', start: '2014-04-20T01:00:00', group: 0 },
            //     //{ id: 2, content: 'item 2', start: '2014-04-20T01:01:00', group: 0 },
            //     //{ id: 3, content: 'item 3', start: '2014-04-20T01:04:00', group: 1 },
            //     { id: 4, content: item2, start: '2014-04-20T09:00:00', end: '2014-04-20T17:00:00', group: 'screen-0' },
            //     { id: 5, content: 'set temperature to 18C', start: '2014-04-20T09:00:00', end: '2014-04-20T17:00:00', group: 'thermostat-0' },
            //     //{ id: 6, content: 'item 6', start: '2014-04-20T01:15:00', type: 'point', group: 2 }
            // ]);

            // Configuration for the Timeline
            var options = {};

            // Create a Timeline
            var timeline = new vis.Timeline(container, items, options);
            timeline.setGroups(groups);
        </script>

        <div class="container mt-4">
            <h4>Your Rules</h4>
            <div class="card" style="width: 18rem;">
                <div class="card-body bg-info">
                    <h5 class="card-title">Smart Screen #1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Trigger: time is 9:00</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Action: show crypto charts</h6>
                    <p class="card-text">Some random description...</p>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>

            <div class="card mt-4" style="width: 18rem;">
                <div class="card-body bg-warning">
                    <h5 class="card-title"><i class="bi bi-exclamation-circle-fill"></i> Thermostat #2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Trigger: time is 9:00</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Action: set temperature to 18C</h6>
                    <p class="card-text">Some random description...</p>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-secondary">Show Conflict</button>
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="./popper/umd/popper.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
    </body>

</html>